<style>
  img{
    width: 183px;
    height: 28px;
  }
</style>
<%= form_for(_content_var, :remote => true, :id=>"form_new_content") do |f| %>
  <% if _content_var.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(_content_var.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% _content_var.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :es_description %><br>
    <%= f.text_area :es_description %>
  </div>
  <div class="field">
    <%= f.label :en_description %><br>
    <%= f.text_area :en_description %>
  </div>
  <div class="field">
    <%= f.label :subchapter_id %><br>
    <%= f.number_field :subchapter_id %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_area :image_url %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.text_field :order %>
  </div>
  <div class="field">
    <%= f.radio_button :content_type, '1', :checked => true %> 
    <%= image_tag "tipos_contenido/entero.png" %>
    <%= f.radio_button :content_type, '2', :checked => true %> 
    <%= image_tag "tipos_contenido/textoimagen_1_2.png" %>
    <%= f.radio_button :content_type, '3', :checked => true %> 
    <%= image_tag "tipos_contenido/imagentexto_1_2.png" %> 
    <%= f.radio_button :content_type, '4', :checked => true %> 
    <%= image_tag "tipos_contenido/textoimagen_1_3.png" %>
    <%= f.radio_button :content_type, '5', :checked => true %> 
    <%= image_tag "tipos_contenido/imagentexto_1_3.png" %>
    <!--  <form action="">
      <table>
        <tr>
        <td>
          <input type="radio" name="content_type" value="1">
          <%= image_tag "tipos_contenido/entero.png" %>
        </td>
        <td>
          <input type="radio" name="content_type" value="2">
          <%= image_tag "tipos_contenido/textoimagen_1_2.png" %> 
        </td>
        <td>
          <input type="radio" name="content_type" value="3">
          <%= image_tag "tipos_contenido/imagentexto_1_2.png" %> 
        </td>
        <td>
          <input type="radio" name="content_type" value="4">
          <%= image_tag "tipos_contenido/textoimagen_1_3.png" %>
        </td>
        <td>
          <input type="radio" name="content_type" value="5">
          <%= image_tag "tipos_contenido/imagentexto_1_3.png" %>
        </td>
        </tr>
      </table>
      </form>
  </div>-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>