<h1>Listing Perfiles</h1>

<table>
  <thead>
    <tr>
      <th>Es description</th>
      <th>En description</th>
      <th>Chapter</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% Profile.all.each do |profile| %>
      <tr>
        <td><%= profile.es_description %></td>
        <td><%= profile.en_description %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

      
    <% end %>
  </tbody>
</table>

<br>

<hr width="100%">
<%= render :partial => '/profiles/form_ajax',locals: {_profile_var: Profile.new} %>