<style>
	li{
		display: inline;
		float: left;
		margin-right: 15px;
	}
	ul{
		list-style-type:none;
	}

	#contenido{
			width: 100%;
			height: 100%;
	}

</style>
<div>
	<ul>
	<li><%= link_to "admin categorías", categorias_home_index_path,:remote=>true %></li>
	<li><%= link_to "admin capitulos", capitulos_home_index_path,:remote=>true %></li>
	<li><%= link_to "admin sub capitulos", subcapitulos_home_index_path,:remote=>true %></li>
	<li><%= link_to "admin perfiles", profiles_home_index_path,:remote=>true %></li>
	<li><%= link_to "admin contenido", contenidos_home_index_path,:remote=>true %></li>
	</ul>
</div>
<br><br>
	<div id="contenido">
			
	</div>
</br>