<%= form_for(_chapter_var) do |f| %>
  <% if _chapter_var.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(_chapter_var.errors.count, "error") %> prohibited this chapter from being saved:</h2>
      <ul>
      <% _chapter_var.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :es_description %><br>
    <%= f.text_area :es_description %>
  </div>
  <div class="field">
    <%= f.label :en_description %><br>
    <%= f.text_area :en_description %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :es_description) %>
  </div>
  <div class="field">
    <%= f.label :version_id %><br>
    <%= f.collection_select(:version_id, Version.all, :id, :year) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>