<% @category = Category.new %>
<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this Category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :es_description %><br>
    <%= f.text_field :es_description %>
  </div>
  <div class="field">
    <%= f.label :es_description %><br>
    <%= f.text_field :es_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
